<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <% if(errorMessage) {%>
      <div><%= errorMessage %></div>
    <% } %>
  
    <div class="signup-container">
      <form class="login-form" action="/reset" method= "POST">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Reset Password</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      </form>
    </div>
  

<%- include('../includes/end.ejs') %>